h1{
    text-align: center;
    color: rgb(15, 15, 15);
}

.buttons{
    margin: 4px;
}
.container{
    display: flex;
    justify-content: center;
}

.text-holder{
    display: flex;
    align-items: center;
    flex-direction: column;
}