html,body{
    height: 100%;
}
body{
    margin : 0;
    padding : 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: white;
    text-align: centre;
}
h1{
    margin-top: 40px;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #00e5ff;
    text-align: center;
}

.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.buttons{
    padding: 15px 30px;
    border: none;  
    border-radius: 12px;
    background: rgba(211, 26, 26, 0.1);
    color: white;
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.2);
}
.buttons:hover{
    background: #00e5ff;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 20px #00e5ff;
}

#Reset{
    background: rgba(255, 0, 0, 0.2);
}

#Reset:hover{
    background-color: #ff4444;
    color: white;
    box-shadow: 0 0 20px #ff4444;
}

.text-holder{
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #9beeff;

    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.3);

    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .buttons {
        width: 80%;
        margin: auto;
    }

    .text-holder {
        width: 90%;
    }
}